<div layout="column" flex ng-cloak>
  <section layout="row" flex>
    <md-content flex>
      <div layout="row" flex layout-fill layout-align="center center">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Activate your account</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row">
            <md-button class="md-raised md-primary" layout-margin ng-click="activate()">Activate your Account</md-button>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </section>
</div>
